<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog List</title>
    <link rel="stylesheet" href="/stylesheets/list.css">
</head>
<body>
     {{> nav}}
    <div class="container">
        <h1 class="title">Latest Blogs</h1>

        {{#each blog}}
            <div class="blog-card">
             {{#if image}}
           <img src="/images/{{image}}" alt="Blog Image" class="blog-image">
            {{/if}}

                <div class="blog-content">
                    <h2>Title:{{title}}</h2>
                    <p>Content:{{content}}</p>
                    

                    <p><strong>Author:</strong> {{user.username}}</p>
                    <p><strong>Date:</strong> {{date}}</p>

                </div>
            </div>
        {{/each}}

        <a href="/create" class="btn add-btn">Create New Blog</a>
         <a href="/home" class="btn add-btn">Back To Home</a>
    </div>

    {{> footer}}
</body>
</html>
